<?xml version="1.0" encoding="UTF-8"?>
<server description="Config example">

    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>mpMetrics-1.1</feature>
        <feature>monitor-1.0</feature>
	<feature>microProfile-2.1</feature>
    </featureManager>

    <dataSource id="DefaultDataSource" jndiName="jdbc/summit-api" jdbcDriverRef="mysql-driver"
                type="javax.sql.ConnectionPoolDataSource" transactional="true">

        <properties serverName="sl-us-south-1-portal.51.dblayer.com" portNumber="23411"
                    databaseName="ex"
                    user="admin"
                    password="BXGCYZWXFMSIFTHD"/>
	<connectionManager maxIdleTimeout="20000s"/>

    </dataSource>

    <basicRegistry id="basic" realm="MicroProfileMetrics">
        <user name="admin" password="adminadmin"/>
        <user name="nonadmin" password="guest"/>
    </basicRegistry>

    <administrator-role>
        <user>admin</user>
    </administrator-role>

  <webApplication location="summit-api.war" contextRoot="/"/>    

  <transaction totalTranLifetimeTimeout="3600s"/>

</server>
